---
# defaults file for bigip-ingress-setup

########################
## VM Input Variables ##
########################

bigip_worker:
  - worker000
  - worker001

bigip_licenses:
  - SGJVQ-MWRFS-UVBWU-NFKCX-NMDOIMF
  - UVFIT-RVTVT-NAPUX-DPIVS-LNPEMYB

bigip_sriov_int: "ens2f1"   # Preferrably baremetal network interface
bigip_bridge_int: "ens2f1"    # Preferrably baremetal network interface

jumbo_mtu: false

###################
## IP Allocation ##
###################

# Baremetal external CIDR
extcidrnet: "192.168.220.0/22"
extcidrnetgw: "192.168.220.1"

bigip_mgmt_network: "192.168.230.0/24"
bigip_ha_network: "192.168.231.0/24"

# Baremetal IP index available to use
ip_nth: 700           # No of workers IP + some buffers

#########################
## Other Static Inputs ##
#########################

bigip_namespace: "f5-lb"

bigip_worker_mcp: "worker-lb"
bigip_hostpath_dir: "/var/lib/hppvolumes"

bigip_vm_image_url: "docker://docker-registry.upshift.redhat.com/ocp-edge-qe/bigip:15.1.0.3-EHF"
bigip_user: "admin"
bigip_password: "Verizon2020"
