{% for cgu in range(((ztp_done_clusters.stdout_lines | length) / snos_per_cgu) | round(0, 'ceil') | int) %}
---
apiVersion: ran.openshift.io/v1alpha1
kind: ClusterGroupUpgrade
metadata:
  name: cgu-complete-upgrade-prep-{{ disconnected_operator_index_tag | replace('.', '') }}-{{ '%04d' | format(cgu) }}
  namespace: ztp-platform-upgrade-prep
spec:
  managedPolicies:
  - du-upgrade-platform-upgrade-prep
  - du-operator-upgrade-operator-catsrc-policy
  - du-operator-upgrade-pao-prune-policy
  preCaching: {{ complete_upgrade_precache }}
  clusters:
{% for sno in range(cgu * snos_per_cgu, (cgu + 1) * snos_per_cgu) %}
{% if ztp_done_clusters.stdout_lines | length > sno %}
  - {{ ztp_done_clusters.stdout_lines[sno] }}
{% endif %}
{% endfor %}
  remediationStrategy:
    maxConcurrency: {{ complete_upgrade_concurrency }}
    timeout: {{ complete_upgrade_timeout }}
  enable: true
{% endfor %}
