---
apiVersion: ran.openshift.io/v1
kind: PolicyGenTemplate
metadata:
  name: "du-operator-upgrade"
  namespace: "ztp-group-du-sno"
spec:
  bindingRules:
    group-du-sno: ""
  mcp: "master"
  remediationAction: inform
  sourceFiles:
    - fileName: DefaultCatsrc.yaml
      remediationAction: inform
      policyName: "operator-catsrc-policy"
      metadata:
        name: rh-du-operators
      spec:
        displayName: disconnected-redhat-operators
        image: {{ rhacm_disconnected_registry }}:{{ rhacm_disconnected_registry_port }}/{{ disconnected_operator_index_name }}:{{ disconnected_operator_index_tag }}
        updateStrategy:
          registryPoll:
            interval: 1h
    - fileName: PaoSubscription.yaml
      policyName: "pao-prune-policy"
      complianceType: "mustnothave"
    - fileName: PaoSubscriptionNS.yaml
      policyName: "pao-prune-policy"
      complianceType: "mustnothave"
    - fileName: PaoSubscriptionOperGroup.yaml
      policyName: "pao-prune-policy"
      complianceType: "mustnothave"
