apiVersion: v1
kind: List
metadata: {}
items:
{% for tunnel in cis_tunnels %}
{% set test_ns_count = test_namespace_count|int if tunnel == 'ocp-egress' else 1 %}
{% for key, value in bigip_vms.items() %}
{% for name in range(1, test_ns_count|int+1) %}
{% set test_ns =  "" ~ test_namespace ~ "-" ~ name ~ "" %}
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: {{ key }}-{{ test_ns if tunnel == 'ocp-egress' else bigip_namespace }}-{{ name }}-cis-{{ tunnel }}-{{ name }}
      namespace: kube-system
    spec:
      selector:
        matchLabels:
          app: {{ key }}-{{ test_ns if tunnel == 'ocp-egress' else bigip_namespace }}-{{ name }}-cis-{{ tunnel }}-{{ name }}
      # DO NOT INCREASE REPLICA COUNT Please
      replicas: 1
      template:
        metadata:
          name: {{ key }}-{{ test_ns if tunnel == 'ocp-egress' else bigip_namespace }}-{{ name }}-cis-{{ tunnel }}-{{ name }}
          labels:
            app: {{ key }}-{{ test_ns if tunnel == 'ocp-egress' else bigip_namespace }}-{{ name }}-cis-{{ tunnel }}-{{ name }}
        spec:
          # Name of the Service Account bound to a Cluster Role with the required
          # permissions
          serviceAccountName: k8s-bigip-ctlr
          containers:
            - name: k8s-bigip-ctlr
              image: "quay.io/mukrishn/k8s-bigip-ctlr:2"
              imagePullPolicy: Always
              env:
                - name: BIGIP_USERNAME
                  valueFrom:
                    secretKeyRef:
                      # Replace with the name of the Secret containing your login
                      # credentials
                      name: bigip-login
                      key: username
                - name: BIGIP_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      # Replace with the name of the Secret containing your login
                      # credentials
                      name: bigip-login
                      key: password
              command: ["/app/bin/k8s-bigip-ctlr"]
              args: [
                # See the k8s-bigip-ctlr documentation for information about
                # all config options
                # https://clouddocs.f5.com/products/connectors/k8s-bigip-ctlr/latest
                "--bigip-username=$(BIGIP_USERNAME)",
                "--bigip-password=$(BIGIP_PASSWORD)",
                "--bigip-url={{ value.mgmt_ip | ipaddr('address') }}",
                "--bigip-partition=kubernetes",
                "--insecure=true",
                "--as3-validation=true",
                "--manage-ingress=false",
                "--manage-routes=false",
                "--custom-resource-mode=false",
                "--manage-configmaps=true",
                "--log-level=DEBUG",
                "--log-as3-response=true",
                "--pool-member-type=cluster",
                "--namespace={{ test_ns if tunnel == 'ocp-egress' else bigip_namespace }}",
                "--openshift-sdn-name=/Common/{{ tunnel }}-{{ name }}"
                ]
{% endfor %}
{% endfor %}
{% endfor %}
