---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ test_namespace }}-{{ item }}
  annotations:
    k8s.ovn.org/hybrid-overlay-external-gw: '{{ (over_self_ips['bigip1'] | selectattr("vlan", "equalto", "ocp-egress-" ~ item ~ "") | list | selectattr("type", "equalto", "float") | list)[0].address  }}'
    k8s.ovn.org/hybrid-overlay-vtep: '{{ (vxlan_tunnel_info['bigip1'] | selectattr("name", "equalto", "ocp-egress-" ~ item ~ "") | list)[0].local_address }}'

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: f5-as3-declaration
  namespace: {{ test_namespace }}-{{ item }}
  labels:
    f5type: virtual-server
    as3: "true"
data:
  template: |
    {
        "class": "AS3",
        "declaration": {
            "class": "ADC",
            "schemaVersion": "3.13.0",
            "id": "{{ test_namespace }}-{{ item }}-namespace",
            "label": "https",
            "remark": "AS3 Template",
            "{{ test_namespace }}-{{ item }}": {
                "class": "Tenant",
{%- for i in range(1, test_service_per_ns|int+1) %}
                "f5-{{ test_namespace }}-{{ item }}-{{ i }}": {
                    "class": "Application",
                    "template": "generic",
                    "service_80_vs_{{ i }}": {
                        "class": "Service_HTTP",
                        "remark": "service f5-{{ test_namespace }}-{{ item }}",
                        "virtualAddresses": [
                            "{{ test_virtual_ip[(item|int*test_service_per_ns)+i] }}"
                        ],
                        "pool": "web_pool"
                    },
                    "web_pool": {
                        "class": "Pool",
                        "monitors": [
                            "http"
                        ],
                        "members": [
                            {
                                "servicePort": 8080,
                                "serverAddresses": []
                            }
                        ]
                    }
                }{{ "," if not loop.last else "" }}
{%- endfor %}
            }
        }
    }