apiVersion: v1
kind: List
metadata: {}
items:
{% set i = namespace(value=0) %}
{% for vm in bigip_vms %}
{% for n in range(2) %}
  - apiVersion: sriovnetwork.openshift.io/v1
    kind: SriovNetwork
    metadata:
      name: {{ vm }}{{ bigip_sriov_int }}vf{{ i.value }}
      namespace: openshift-sriov-network-operator
    spec:
      networkNamespace:  {{ bigip_namespace }}
      ipam: '{"type": "static","addresses":[{"address":"{{ bigip_sriov_network_ipam_address }}","gateway":"{{ bigip_sriov_network_ipam_gateway }}"}]}'
      spoofChk: "off"
      trust: "on"
      resourceName: {{ vm }}{{ bigip_sriov_int }}vf{{ i.value }}
{% set i.value = i.value + 1 %}
{% endfor %}
{% endfor %}
