apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |+
    prometheusK8s:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
      retention: {{ openshift_prometheus_retention_period }}
      volumeClaimTemplate:
        metadata:
          name: localpvc
        spec:
          storageClassName: {{ openshift_prometheus_storage_class }}
          resources:
            requests:
              storage: {{ openshift_prometheus_storage_size }}
    alertmanagerMain:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
    prometheusOperator:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
    grafana:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
    k8sPrometheusAdapter:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
    kubeStateMetrics:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
    telemeterClient:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}
    openshiftStateMetrics:
      nodeSelector:
        {{ openshift_prometheus_node_selector }}


