apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "kafka-local-brokers"
  namespace: local-storage
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
        - key: "{{ kafka_instances.key }}"
          operator: In
          values:
          - "{{ kafka_instances.value }}"
  storageClassDevices:
    - storageClassName: "kafka-local-brokers"
      volumeMode: Filesystem
      fsType: xfs
      devicePaths:
        - "{{ kafka_broker_volume }}"
