---
apiVersion: hco.kubevirt.io/{{ 'v1beta1' if nightly_operator else 'v1alpha1' }}
kind: HyperConverged
metadata:
  name: kubevirt-hyperconverged
  namespace: openshift-cnv
spec:
  BareMetalPlatform: true
