---
# Values accepted: 'latest-4.5', 'latest-4.6', explicit version i.e. 4.3.0-0.nightly-2019-12-09-035405 (must be defined)
version: 4.6.1

# Enter whether the build should use 'dev' (nightly builds) or 'ga' for Generally Available version of OpenShift (must be defined)
build: ga

################################################################################
# RHACM playbook vars
################################################################################
# All file locations should be on orchestration host and clusters must be accessible
# by orchestration host
rhacm_version: 2.1
rhacm_redisgraph_memory_limit: "3Gi"
hub_cluster_kubeconfig: /home/stack/ocp_clusters/vlan608/auth/kubeconfig
managed_cluster_name: shiftstack0000
managed_cluster_kubeconfig: "/home/stack/ocp_clusters/{{managed_cluster_name}}/auth/kubeconfig"
################################################################################
# kind cluster cs_configuration
################################################################################
kind_max_count: 9 # 10 max instance
kind_step_count: 1

k3d_max_count: 20 # 22 max instance
k3d_step_count: 1
