apiVersion: trident.netapp.io/v1
kind: TridentOrchestrator
metadata:
  name: trident
spec:
  debug: true
  namespace: "{{ trident_namespace }}"
  tridentImage: "{{ trident_image }}"
  autosupportImage: "{{ trident_autosupport_image }}"
