---
apiVersion: operator.open-cluster-management.io/v1
kind: MultiClusterHub
metadata:
  namespace: open-cluster-management
  name: multiclusterhub
spec:
  imagePullSecret: multiclusterhub-operator-pull-secret
  disableHubSelfManagement: {{rhacm_disableHubSelfManagement|bool}}
