---
# Install assisted-installer onto a cluster with RHACM

# Current workarounds:
# * If assisted-installer namespace already exists, delete it and recreate
#   * https://bugzilla.redhat.com/show_bug.cgi?id=1951812
# * Patch provisioning configuration
# * Patch Hive configuration
# * Apply assisted-installer-crb-lease-fix.yml
# * Disable assisted-service operator
# * Set Assisted-service deployment image
# * Set Assisted-service deployment env (AGENT_DOCKER_IMAGE, CONTROLLER_IMAGE, INSTALLER_IMAGE, SELF_VERSION)
# * Set Assisted-service deployment env OPENSHIFT_VERSIONS
# * Set Assisted-service deployment env HW_VALIDATOR_MIN_CPU_CORES_SNO=4
# * Set Assisted-service deployment env HW_VALIDATOR_MIN_RAM_GIB_SNO=16
# * Set Assisted-service deployment env SERVE_HTTPS=False

- name: Create directory for rhacm assisted-installer
  file:
    path: "{{ rhacm_install_directory }}/rhacm-assisted-installer"
    state: directory

- name: Template files for rhacm assisted-installer
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
  - src: configmap-cpumemory.yml
    dest: "{{ rhacm_install_directory }}/rhacm-assisted-installer/configmap-cpumemory.yml"
  - src: agentserviceconfig.yml
    dest: "{{ rhacm_install_directory }}/rhacm-assisted-installer/agentserviceconfig.yml"

- name: Patch provisioning configuration
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc patch provisioning provisioning-configuration --type merge -p '{"spec":{"watchAllNamespaces": true }}'

- name: Patch hive configuration
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc patch hiveconfig hive  --type merge -p '{"spec":{"targetNamespace":"hive","logLevel":"debug","featureGates":{"custom":{"enabled":["AlphaAgentInstallStrategy"]},"featureSet":"Custom"} }}'

- name: Apply assisted-service manifests
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc apply -f {{ item }}
  loop:
  - "{{ rhacm_install_directory }}/rhacm-assisted-installer/configmap-cpumemory.yml"
  - "{{ rhacm_install_directory }}/rhacm-assisted-installer/agentserviceconfig.yml"
  register: result
  until: result.failed == false
  retries: 2
  delay: 3

- name: Wait for assisted-service pod exists
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc get pods -n open-cluster-management -l app=assisted-service
  retries: 150
  delay: 2
  register: as_pod
  until: as_pod.failed == false

- name: Wait for assisted-service pod running
  shell: |
    KUBECONFIG={{ hub_cluster_kubeconfig }} oc get pods -n open-cluster-management -l app=assisted-service -o jsonpath='{.items[0].status.phase}'
  retries: 150
  delay: 2
  register: as_pod
  until: as_pod.stdout == "Running"
