apiVersion: v1
metadata:
  name: "{{ rhacm_clusterdeployment_name }}"
baseDomain: "{{ rhacm_clusterdeploy_base_domain }}"
controlPlane:
  hyperthreading: Enabled
  name: master
  architecture: amd64
  replicas: 1
  platform: {}
compute:
- hyperthreading: Enabled
  name: worker
  architecture: amd64
  replicas: 0
  platform:
    openstack:
      flavor: "{{ rhacm_clusterdeploy_worker_flavor }}"
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
{% if rhacm_clusterdeploy_custom_network %}
  - cidr: "{{ custom_subnet_cidr.stdout }}"
{% else %}
  - cidr: 10.196.0.0/16
{% endif %}
  serviceNetwork:
  - 172.30.0.0/16
  networkType: "{{ rhacm_clusterdeploy_network_type }}"
platform:
  openstack:
    cloud:             "overcloud"
    externalNetwork:   "{{ shiftstack_clusterdeploy_public_net_name }}"
    computeFlavor:     "{{ rhacm_clusterdeploy_worker_flavor }}"
    lbFloatingIP:      "{{ api_floating_ip }}"
{% if rhacm_clusterdeploy_create_ingress %}
    ingressFloatingIP: "{{ ingress_floating_ip }}"
{% endif %}
{% if rhacm_clusterdeploy_custom_network %}
    machinesSubnet: "{{ custom_subnet_uuid.stdout }}"
{% else %}
    externalDNS: ["{{ ansible_dns.nameservers| join('", "') }}"]
{% endif %}
    clusterOSImage: "{{ rhacm_clusterdeploy_image_name }}"
pullSecret: ""
sshKey: |
  {{ ssh_public_key }}
