---
- hosts: orchestration
  vars_files:
    - vars/all.yml
  pre_tasks:
    - name: run validations
      include_tasks: tasks/validation.yml
      tags:
        - always
  tasks:
    - name: Include Operator installation
      include_role: 
        name: operators
        defaults_from: "{{release_version[0]|int}}.{{release_version[2]|int}}.yml"
      when: operators is defined and operators | length > 0
      tags: always

- hosts: orchestration
  vars_files:
    - vars/all.yml
  roles:
    - role: label_node
      when: label_node_values is defined and label_node_values | length > 0

    - role: local_storage
      when: local_storage_instances is defined and local_storage_instances | length > 0

    - role: openshift-monitoring-config
      when: openshift_prometheus_storage_class is defined

    - role: kafka-logging-setup
      tags: logging

    - role: trident-storage-setup
      tags: trident

    - role: aspenmesh-servicemesh-setup
      tags: aspenmesh

- import_playbook: bigip-setup.yml
  tags: bigip

