#!/usr/bin/env bash

# Usage: clusterdeployment.sh <clusters-start> <clusters-end> <sleep-period>
cluster_start=$1
cluster_end=$2
sleep_period=$3

echo "$(date -u +%Y%m%d-%H%M%S) - Clusters Start: ${cluster_start}"
echo "$(date -u +%Y%m%d-%H%M%S) - Clusters End: ${cluster_end}"
echo "$(date -u +%Y%m%d-%H%M%S) - Sleep Period: ${sleep_period}"

for idx in `seq -f "%05g" ${cluster_start} ${cluster_end}`; do
  echo "$(date -u +%Y%m%d-%H%M%S) - Creating: $idx"
  oc create -f /home/stack/clusterdeployments/configs/{{ rhacm_clusterdeploy_prefix }}${idx}/cluster-deployment.yaml
  sleep ${sleep_period}
done
echo "$(date -u +%Y%m%d-%H%M%S) - Cluster Deployment Completed"
