apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: kafka-minion
  name: kafka-minion
  namespace: "{{ kafka_namespace }}"
spec:
  selector:
    app.kubernetes.io/name: kafka-minion
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
